{% extends 'base.html' %}

{% block title %}
    Reports
{% endblock title %}

{% block context %}

    <form action="{% url 'reports' %}" method="post">

        {% csrf_token %}

        <label for="reportType">Оберіть звіт</label>

        <select class="form-select" aria-label="Default select example" id="reportType" name="report">
            <option selected value="salary">Зарплатня</option>
            <option value="hours">Відпрацьовані години</option>
        </select>

        <input type="date" name="from">
        <input type="date" name="to">
        <input type="submit" value="Завантажити">
    </form>


{% endblock context %}