{% extends 'base.html' %}

{% block title %}
    Schedules
{% endblock title %}


{% block context %}

    {% for shift in shifts %}

        <p> shift {{ shift.shift.kind }} {{ shift.date }}</p>
        <p>from {{ shift.shift_kind.start_time }} till {{ shift.shift_kind.end_time}}</p>
        <p>Schedules:</p>

        {% for schedule in shift.schedules.all %}

            <p>{{ schedule.route.name }} from {{ schedule.start_time }} till {{ schedule.end_time }}</p>
                {% for stop in schedule.scheduled_stops.all %}

                <p>{{ stop.stop }}  {{ stop.time }}</p>

                {% empty %}

                ypu have no stop
                {% endfor %}

            {% empty %}

            you have no schedule



        {% endfor %}


    {% endfor %}

{% endblock context %}