{% extends 'base.html' %}

{% block title %}
    Schedules
{% endblock title %}


{% block context %}

    {% for shift in shifts %}

        <p>{{ shift.date }}</p>
        <p>from {{ shift.shift_kind.start_time }} till {{ shift.shift_kind.end_time}}</p>

        {% for schedule in schedules %}

            <p>{{ schedule.route.name }} from {{ schedule.start_time }} till {{ schedule.end_time }}</p>

            {% for stop in schedule.scheduled_stops %}

            <p>{{ stop.stop }}  {{ stop.time }}</p>


            {% endfor %}

        {% endfor %}


    {% endfor %}

{% endblock context %}