{% extends 'base.html' %}

{% block title %}
    Розклад
{% endblock title %}


{% block context %}
    <div class="mlr-6p mt-15 d-flex justify-content-center">
        <div class="accordion accordion-flush accordion-width" id="accordionFlushExample">

            {% for shift in shifts %}
                <div class="accordion-item br-20">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed br-20" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Зміна {{ shift.date }} &nbsp;<text style="color: gray"> | {{ shift.shift_kind.start_time }} - {{ shift.shift_kind.end_time}}</text>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% for schedule in shift.schedules.all %}

                                <p>
                                    <b>{{ schedule.route.name }}</b>&nbsp;
                                    <text style="color: gray"> | {{ schedule.start_time }} - {{ schedule.end_time }}</text>
                                </p>
                                {% for stop in schedule.scheduled_stops.all %}
                                    <p class="pos-rel">
                                        <span>{{ stop.stop }}</span>
                                        <span class="stop-time">{{ stop.time }}</span>
                                    </p>
                                {% empty %}
                                    Ви не маєте актуальних зупинок
                                {% endfor %}
                                <hr>
                            {% empty %}
                                Ви не маєте актуального розкладу
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <text class="color-white">Ви не маєте актуальних змін</text>
            {% endfor %}
        </div>
    </div>
{% endblock context %}
